.foot-bg{
background-color: aliceblue;
}
.foot-img{
    width: 30%;
}
.mail-a{
    text-decoration: none;
    color: black;
}
.mail-a:hover{
    color: blueviolet;
}
.footer-map{
    font-size:40px;
}