.img-R {
    width: 450px;
}
.carousel-dark 
.carousel-control-next-icon, 
.carousel-dark 
.carousel-control-prev-icon {
    display: none;
}   
.caro-div{
    width: 75% ;

}

.carousel-indicators{
margin-right: 45% ;
}
.carousel-indicators button {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}
.carousel-indicators .active{
    background-color: blueviolet;
}

@media only screen and (max-width: 480px) {
    .img-R {
        display: none;
    }
    .caro-div{
        width: 100%;
        margin-left: -80px;
        padding: 0px;
    }
.easy-header{
    margin-left: -120px;
}
.carousel-indicators{
    margin-right: 15% !important;
}
}