.div-color {
    background: rgb(132, 123, 255);
    background: linear-gradient(90deg, rgba(132, 123, 255, 1) 50%, rgba(232, 64, 214, 1) 100%);
}

.div-position {
    margin-top: 100px;
}

.div-img-position {
    margin-top: -100px;
    margin-bottom: -100px;
    width: 250px;

}

@media only screen and (max-width: 480px) {
    .div-position {
        margin-top: 100px;
        position: relative;
    }
    
    .div-img-position{
        position: absolute;
        margin-top: -100px;
        margin-bottom: 0px;
        margin-right: 100px;
        bottom:1px;
        left: 58% !important;
        width: 150px;
    }
    .text-div{
        margin-bottom: 100px;
        margin-right: 10%;
        font-size: small;
    }
}


@media only screen and (max-width: 768px) {
    .div-position {
        margin-top: 100px;
        position: relative;
    }
    
    .div-img-position{
        position: absolute;
        margin-top: -100px;
        margin-bottom: 0px;
        margin-right: 100px;
        bottom: -5px;
        left: 75%;
        width: 150px;
    }
    .text-div{
        margin-bottom: 100px;
        font-size: small;
    }
}
