.div-color {
    background: rgb(132, 123, 255);
    background: linear-gradient(90deg, rgba(132, 123, 255, 1) 40%, rgba(232, 64, 214, 1) 100%);
}

.exc-position {
    margin-top: 100px;
}

.exc-img-position {
    margin-left: 45px !important;
    margin-top: -230px !important;
    margin-bottom: -200px !important;
    width: 450px;

}