.div-color {
    background: rgb(132, 123, 255);
    background: linear-gradient(90deg, rgba(132, 123, 255, 1) 40%, rgba(232, 64, 214, 1) 100%);
}

.exc-position {
    margin-top: 100px;
}

.exc-img-position {
    margin-left: 45px !important;
    margin-top: -230px !important;
    margin-bottom: -200px !important;
    width: 350px;

}

@media only screen and (max-width: 480px) {
    .exc-position{
        position: relative;
    }
    .exc-img-position{
        position: absolute;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        bottom: 45% !important;;
        right: 33% !important;
        width: 250px !important;
    }
    .exc-text-div{
        margin-bottom: 40px;
        margin-left: 40%;
        font-size: small;
        
    }
}

@media only screen and (max-width: 768px) {
    .exc-position{
        position: relative;
    }
    .exc-img-position{
        position: absolute;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        bottom:92%;
        right: 59%;
        width: 300px;
    }
    .exc-text-div{
        margin-bottom: 40px;
        margin-left: 30%;
        font-size: small;
        
    }
}
