.trand-div {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.silck-slide > div{
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.trand-img {
    width: 90%;
    border-radius: 10px;
}
.slick-prev:before, .slick-next:before{
    color: black!important;
}